<div class="row">
	<div class="col-md-3">
		<%= render 'menu_menu' %>
	</div>

	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Emplacement
			</div>

			<div class="panel-body">
				<div class="container">

					<%= form_for @menu do |f| %>
						<div class="row">
							<label>Address</label>
							<%= f.text_field :address, placeholder: "Quel est votre addresse?", class: "form-control", required: true, id: "autoaddress" %>
						</div>

						<br/><br/>

						<div class="text-center">
							<%= f.submit "Enregistré", class: "btn btn-form"%>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	$(function(){
		$("#autoaddress").geocomplete();
	})
</script>

