<footer class="footer-distributed">

			<div class="footer-left">

				<!--<h3>Company<span>logo</span></h3>-->
				<%= link_to image_tag "kinywa-logo.JPG", alt: "Rails logo", class: "logo-small" %>

				<p class="footer-links">
					<%= link_to "Accueil", root_path %>
					|
					<a href="#">Blog</a>
					|
					<%= link_to "Devenez chef", new_menu_path %>
					|
					<a href="#">Comment ça marche</a>
					|
					<a href="#">FAQ</a>
				</p>

				<p class="footer-company-name">Kinywa &copy; 2017</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>10 Place Vendome, 75001</span> Paris, France</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+33 06 26 56 04</p>
				</div>

				<div>
					<i class="fa fa-envelope text-babu"></i>
					<p><a href="mailto:hello@kinywa.com">hello@kinywa.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>A propos de nous</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
				</p>

				<div class="footer-icons">

					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-linkedin"></i></a>
					<a href="#"><i class="fa fa-github"></i></a>

				</div>

			</div>

		</footer>