<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading"> Chiffres d'affaire commulez cette semaine</div>

			<div class="panel-body revenues">
				<div class="container text-center">
					<% if @reservations.blank? %>
						<h3> Vous n'avez pas eu des prestations </h3>
						<%= link_to "Devenez chef", new_menu_path, class: "btn btn-normal"%>
					<% else %>
						<%= column_chart @this_week_revenue, colors: ["#00A699"] %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>