<% if @photos.count > 0 %>
	<br/><br/>

	<div class="row">

		<% @photos.each do |photo| %>
			<div class="col-md-4">
				<div class="panel panel-default">
					<div class="panel-heading preview">
						<%= image_tag photo.image.url() %>
					</div>

					<div class="panel panel-body">
						<span class="pull-right">
							<%= link_to photo_path(imageable_id: photo.imageable_id, id: photo.id), remote: true, method: :delete, data: {confirm: "Voulez vous vraiment effacer?"} do %>
							<i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
							<% end %>
						</span>
					</div>
				</div>
			</div>
		<% end %>
	</div>
<% end %>