<div class="row">
	<div class="col-md-3">
		<%= render 'product_menu' %>
	</div>

	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Forchete de prix
			</div>

			<div class="panel-body">
				<div class="container">

					<%= form_for @product do |f| %>
						<div class="row">
							<label>Prix</label>
							<%= f.text_field :price, placeholder: "eg: €100", class: "form-control", required: true  %>
						</div>
						<br/><br/>


						<div class="text-center">
							<%= f.submit "ENREGISTRER", class: "btn btn-form"%>
						</div>
					<% end %>
					
				</div>
			</div>
		</div>
	</div>
</div>

